<table class="table">
		<tr><%= attachment_image_tag user, :profile_image, class: "img-thumbnail", fallback: "no-image.png", size: "100x100" %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
</table>

	<%= link_to edit_user_path(user.id) do %>
	<span><i class="fas fa-wrench"></i></span>
	<% end %>

