<%= render 'books/list', books: @books %>

<div class="col-md-8 offset-md-1">
<table class="table">
<h1>Users</h1>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th colspan="8"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        　<td><%= attachment_image_tag @user, :profile_image,  format: 'jpeg', fallback: "no-image.png",  size: "60x60" %><td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user_path(user.id) %></td>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>

