<%= render 'books/list', books: @books %>


<div class="col-md-8 offset-md-1">
<table class="table">
<h1>Books</h1>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="8"></th>
    </tr>
  </thead>
  <tbody>
    </div>
  </tbody>
</table>


